---
---

@import "{{ site.theme }}";
#container{
    border: none;
    /* box-shadow: 0px 0px 10px 1px #888888; */
    box-shadow: 0px 5px 5px 1px #888888;
}

#main{
    margin-top: 0px;
}

.wrapper{
    width: 55%;
}

.page-header{
    display: grid;
    box-shadow: 0px 0px 5px 1px #888888;
    background-image: url('../assets/images/aya.png');
    background-size: 100%;
    background-position-y: -270px;
    background-position-x: 330px;

}

.page-header .gradient{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #FFF 40%, rgba(255, 255, 255, 0));
}

.page-header h1{
    margin: 0px;
    padding: 30px 0px 30px 40px;
    color: #000;
    /* background-color: #0000FF; */
}

.page-container{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
}

.page-container .index{
    font-family: 'Times New Roman', Times, serif;
    /* width: 300px; */
    /* margin: 0px auto; */
    /* display: inline-block; */
    border-right: dashed 1px #888;
    color: #666;
    width: 40%;
    line-height: 200%;
    /* padding-right: 2% ; */
    margin-right: 2%;
    font-size: 17px;
}

.page-container ul{
    list-style-type: none;
    /* font-weight: bold; */
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #000;
    
}

.page-container .aa{
    padding: 0;
}

.page-container ul li a{
    color: #666;
}

.page-container .item-selected{
    list-style: disc;
}

.page-container ul .item-selected a{
    text-decoration: underline;
    /* color: #222; */
}

.page-container ul a:hover{
    cursor: pointer;
}

.page-container .content{
    width: auto;
}

.project-card{
    display: flex;
    /* background-color: #EEE; */
    /* flex-wrap: wrap; */
}

.project-card:not(:last-child){
    margin-bottom: 50px;
}

.project-card .bullet-point{
    font-weight: bold;
    vertical-align: text-top;
    font-size: 40px;
    line-height: 100%;
    margin-right: 10px;
}

.project-card h1, p{
    margin: 0px;
    padding: 0px;
}

.project-card .header{
    margin-bottom: 15px;
}

.project-card .header .project-title{
    font-weight: bold;
    font-size: 30px;
    color: #000;
}

.project-card .header .project-title:hover{
    cursor: pointer;
    text-decoration: none;
    color: #0000FF;
}

.project-card .header .info{
    display: flex;
    margin-left: 5px;
    /* background-color: #AAA; */
}

.project-card .header-tag{
    font-style: italic;
    
    color: #555;
    padding-right: 8px;
}

.project-card .header-tag:not(:last-child){
    border-right: 1px dashed #888;
}

.project-card .header-tag:not(:first-child){
    margin-left: 8px;
}

.project-card .header .info a{
    color: #555;
    text-decoration: underline;
}

.project-card .header .info a:hover{
    color: #0000FF;
}

.project-card .content{
    display: flex;
    line-height: normal;
    margin-left: 15px;
    /* background-color: #DDD; */
    height: 150px;
}

.project-card .content .thumbnail{
    height: 100%;
    margin-right: 15px;
}

.project-card .content p{
    text-align: justify;
}

.project-card .content a{
    color: #0000FF;
}

h3 {
    color: white;
}
